{{>fullnav}}
<div class="background flex">


<div class="squareThankyou">

    <span >THANK YOU FOR YOUR SIGNATURE.</span>
</div>



<div id="sig">
    YOUR SIGNATURE:
    <img src="{{sig}}" alt="signature"><br>
</div>



{{>deleteSignature}}



<div id="allSupporter">
    <a href="/supporter"> SEE ALL {{numberSigners}} SUPPORTER</a> <br>
</div>

<!-- <div class="middle">
    <a class="number" href="/supporter"> {{numberSigners}}</a> <br>
    <p class="groß">SUPPORTER</p>
</div> -->



</div>

<!-- <img src="{{sig}}" alt="signature"><br> -->


{{>footer}}
<!-- <p>id="signaturePic" <img src="{{sig}}" alt="signature"></p> -->
